extends ../main/layout
include ../mixins/videos

block content
    div.main-video__section
        section.video__section
            div#videoContainer(data-id=video._id)
                if isHeroku 
                    video(src=video.fileUrl)
                else
                    video(src="/" + video.fileUrl)
                span#jsScreenPlay
                div#videoControls.videoControls
                    div.videoControls__play
                        span#play.videoControls__playBtn
                            i.fas.fa-play
                        div.videoControls__time
                            span#currenTime 00:00
                            span  / 
                            span#totalTime 00:00
                    input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
                    div.videoControls__volume
                        input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                        span#mute
                            i.fas.fa-volume-up
                    div
                        span#fullScreen
                            i.fas.fa-expand
                a(href="javascript:history.back()") 
                    button 이전페이지

            div.video__data
                h2.video__title=video.title
                div.video__hash
                    each hash in video.hashtags
                        span=hash
                p.video__description=video.description
                small.video__owner Uploaded by 
                    a(href=`/users/${video.owner._id}`)=video.owner.name
                small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
                if String(video.owner._id) === String(loggedInUser._id)
                    a(href=`${video.id}/edit`).edit__btn Edit Video &rarr;
                    br
                    a(href=`${video.id}/delete`).delete__btn Delete Video &rarr;
                if loggedIn
                    div.click__box#clickBox 
                        button#thumbsUp
                            i.fas.fa-thumbs-up
                        span 좋아요 #{video.meta.rating.length}개
                    div.video__add-comments 
                        form.video__comment-form#commentForm
                            textarea(placeholder="Write comment...", )
                            button Add Comment

            div.video__comments
                ul.video__comments-list#commentList
                    each comment in video.comments.reverse()
                        li.video__comment(data-id=comment._id)
                            div.comment__content
                                div.comment__text
                                    i.fas.fa-comment
                                    span  #{comment.text}  
                                span.comment__date  #{comment.createdAt.toLocaleString("ko-KR")} 
                            div.comment__delete
                                if String(comment.owner) === String(loggedInUser._id)
                                    button 🗑

        section.aside-video__section
            div.next__video-list 
                each video in videos 
                    +video(video)
                else 
                    span.empty__msg 관련 동영상이 없습니다.

            

block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/comment.js")
        script(src="/static/js/ratingVideo.js")
    