mixin photo(photo)
  a(href=`/photos/${photo.id}`).media-mixin 
    div.media-mixin__thumb 
      if isHeroku 
        img.thumb__media(src=photo.fileUrl)
      else 
        img.thumb__media(src="/" + photo.fileUrl)
    div.meida-mixin__data 
      span.media-mixin__title=photo.title 
      div.media-mixin__meta 
        span #{photo.owner.name}
        span #{photo.meta.views} 회