mixin video(video)
  a(href=`/videos/${video.id}`).video-mixin
    div.video-mixin__thumb
      video.thumb__video(src=video.fileUrl)
    div.video-mixin__data
      span.video-mixin__title=video.title
      div.video-mixin__meta
        span #{video.owner.name} 
        span #{video.meta.views} 회
      
//- (style=`background-image: url(/${video.id}); background-size:cover; background-position:center;`)