mixin video(video)
  a(href=`/videos/${video.id}`).media-mixin
    div.media-mixin__thumb
      if isHeroku
        video.thumb__media(src=video.thumbUrl ? video.thumbUrl : video.fileUrl)
      else
        video.thumb__media(src=`/${video.thumbUrl ? video.thumbUrl : video.fileUrl}`)
    div.media-mixin__data
      span.media-mixin__title=video.title
      div.media-mixin__meta
        span #{video.owner.name} 
        span #{video.meta.views} 회
      
//- (style=`background-image: url(/${video.id}); background-size:cover; background-position:center;`)