extends main/layout

block content 
  img(src="/" + loggedInUser.avatarUrl, width="100", height="100")
  if errMsg 
    h3=errMsg
  form(method="POST", , enctype="multipart/form-data")
    label(for="edit-avatar") Profile Image
    input(name="avatar", type="file", id="edit-avatar", value=loggedInUser.avatarUrl, accept="image/*")
    label(for="edit-email") Email
    input(required, name="email", placeholder="email", type="email", id="edit-email", value=loggedInUser.email)
    label(for="edit-name") Name
    input(required, name="name", placeholder="name", type="text", id="edit-name" , minlength=3, maxlength=30, value=loggedInUser.name)
    label(for="edit-username") User Name
    input(required,name="username", placeholder="username", type="text", id="edit-username" ,minlength=3, maxlength=30, value=loggedInUser.username)
    label(for="edit-location") Location
    input(required, name="location", placeholder="location", type="address", id="edit-location" ,value=loggedInUser.location)
    input(type="submit", value="Update Profile")
    if !loggedInUser.socialLogin
      hr
      a(href="change-password") Change Password &larr;