header
  div.burger__menu#burgerMenu
    ul.burger-lists
      if loggedIn
        li
          a(href="/videos/upload") Vidoe Uploads
        li 
          a(href="/photos/upload") Photo Uploads
        li 
          a(href="/users/edit") Edit Profile
        li 
          a(href="/users/logout") Log Out
        li.burger-profile 
          a(href=`/users/${loggedInUser._id}`)
            if loggedInUser.avatarUrl === null
              span 🤪  #{loggedInUser.name}'s Profile  
            else 
              if isHeroku
                img(src=loggedInUser.avatarUrl).burger__avatar
              else
                if loggedInUser.avatarUrl.includes("github") || loggedInUser.avatarUrl.includes("kakao")
                  img(src=loggedInUser.avatarUrl).burger__avatar
                else
                  img(src="/" + loggedInUser.avatarUrl).burger__avatar 
              span #{loggedInUser.name}'s Profile  
      else  
        li 
          a(href="/login") Log In
        li 
          a(href="/join").header__btn Join
  a(href="/").header__logo
    i.fab.fa-youtube
  span.burger-icon#burgerIcon 
    i.fas.fa-bars  
  nav.navigation-bar 
    div.nav-search     
      form(method="GET" action="/videos/search").search__form  
        input(placeholder="Search", type="text", name="keyword")
        button 
          i.fas.fa-search
      select(name="pageselect")
          option(value="") select router 
          option(value="video") video
          option(value="photo") photo
    ul.nav-lists
      if loggedIn
        li
          a(href="/videos/upload") Vidoe Uploads
        li 
          a(href="/photos/upload") Photo Uploads
        li 
          a(href="/users/edit") Edit Profile
        li 
          a(href="/users/logout") Log Out
        li.header-profile 
          a(href=`/users/${loggedInUser._id}`)
            if loggedInUser.avatarUrl === null
              span 🤪  #{loggedInUser.name}'s Profile  
            else 
              if isHeroku
                img(src=loggedInUser.avatarUrl).header__avatar
              else
                if loggedInUser.avatarUrl.includes("github") || loggedInUser.avatarUrl.includes("kakao")
                  img(src=loggedInUser.avatarUrl).header__avatar
                else
                  img(src="/" + loggedInUser.avatarUrl).header__avatar 
              span #{loggedInUser.name}'s Profile  
      else  
        li 
          a(href="/login") Log In
        li 
          a(href="/join").header__btn Join
